<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout.html :: layout}">

<body th:fragment="content">

    <main id="mt-main">
      <section class="mt-contact-banner mt-banner-22 wow fadeInUp" data-wow-delay="0.4s" style="background-image: url(\;">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h1 class="text-center">404 Page2</h1>
              <!-- Breadcrumbs of the Page -->
              <nav class="breadcrumbs">
                <ul class="list-unstyled">
                  <li><a th:href="@{/}">Home <i class="fa fa-angle-right"></i></a></li>
                  <li>404 Page2</li>
                </ul>
              </nav>
              <!-- Breadcrumbs of the Page end -->
            </div>
          </div>
        </div>
      </section>
      <!-- Mt Error Sec of the Page -->
      <section class="mt-error-sec dark style3">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="error-holder pull-right">
                <h1 class="text-uppercase montserrat">PAGE NOT FOUND!</h1>
                <div class="txt">
                  <p>The page you are looking for was moved, <br>removed, renamed or might never existed.</p>
                </div>
                <a th:href="@{/}" class="btn-back text-uppercase">BACK TO HOME</a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <span class="error-code2 montserrat">404</span>
            </div>
          </div>
        </div>
      </section>
      <!-- Mt Error Sec of the Page end -->
    </main><!-- Main of the Page end here -->


</body>
</html>