<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{layout.html :: layout}">
<body th:fragment="content">
<div class="mt-main-slider">
  <!-- slider banner-slider start here -->
  <div class="slider banner-slider">
    <!-- holder start here -->
    <div class="holder text-center" style="background-image: url(images/bg/img04.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="text centerize">
              <strong class="title">FURNITURE DESIGNS IDEAS</strong>
              <h1>LIGHTING</h1>
              <h2>PENDANT LAMPS</h2>
              <div class="txt">
                <p>Consectetur adipisicing elit. Beatae accusamus, optio, repellendus inventore</p>
              </div>
              <a href="product-detail.html" class="shop">shop now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- holder end here -->

    <!-- holder start here -->
    <div class="holder text-center" style="background-image: url(images/bg/img05.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="text right">
              <strong class="title">FURNITURE DESIGNS IDEAS</strong>
              <h1>LOUNGE CHAIRS</h1>
              <h2>SW DAYBED</h2>
              <div class="txt">
                <p>Consectetur adipisicing elit. Beatae accusamus, optio, repellendus inventore</p>
              </div>
              <a href="product-detail.html" class="shop">shop now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- holder end here -->

    <!-- holder start here -->
    <div class="holder text-center" style="background-image: url(images/bg/img06.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="text">
              <strong class="title">FURNITURE DESIGNS IDEAS</strong>
              <h1>CARDBOARD</h1>
              <h2> Sofas and Armchairs</h2>
              <div class="txt">
                <p>Consectetur adipisicing elit. Beatae accusamus, optio, repellendus inventore</p>
              </div>
              <a href="product-detail.html" class="shop">shop now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- holder end here -->
  </div>
  <!-- slider regular end here -->

</div>
<main id="mt-main">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <!-- banner frame start here -->
        <div class="banner-frame">
          <!-- banner-1 start here -->
          <div class="banner-1 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
            <img alt="image description" th:src="@{/images/banner/img01.jpg}">
            <div class="holder">
              <h2>MY SMALL WRITING <br>DESK</h2>
              <div class="txts">
                <a class="btn-shop" href="product-detail.html">
                  <span>shop now</span>
                  <i class="fa fa-angle-right"></i>
                </a>
                <div class="discount">
                  <span>-20%</span>
                </div>
              </div>
            </div>
          </div>
          <!-- banner-1 end here -->

          <!-- banner-box first start here -->
          <div class="banner-box first">
            <!-- banner-2 start here -->
            <div class="banner-2 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
              <img alt="image description" th:src="@{/images/banner/img02.jpg}">
              <div class="holder">
                <h2>MODULAR LOUNGE <br>TEAK</h2>
                <span class="price">$ 129.00</span>
              </div>
            </div>
            <!-- banner-2 end here -->

            <!-- banner-3 start here -->
            <div class="banner-3 right wow fadeInDown" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;">
              <img alt="image description" th:src="@{/images/banner/img03.jpg}">
              <div class="holder">
                <h2>Modular technical <br>fabric sofa</h2>
                <a href="product-detail.html" class="shop">SHOP NOW</a>
              </div>
            </div>
            <!-- banner-3 end here -->
          </div>
          <!-- banner-box first end here -->

          <!-- banner-4 start here -->
          <div class="banner-4 hidden-sm wow fadeInRight" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight;">
            <img alt="image description" th:src="@{/images/banner/img04.jpg}">
            <div class="holder">
              <h2>Direct light <br>pendant lamp</h2>
              <span class="price">$ 129.00</span>
              <a class="btn-shop add" href="product-detail.html">
                <span>shop now</span>
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
          <!-- banner-4 end here -->
        </div>
        <!-- banner frame end here -->
        <!-- mt producttabs start here -->
        <div class="mt-producttabs wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
          <!-- producttabs start here -->
          <ul class="producttabs">
            <li><a href="#tab1" class="active">FEATURED</a></li>
            <li><a href="#tab2">LATEST</a></li>
            <li><a href="#tab3">BEST SELLER</a></li>
          </ul>
          <!-- producttabs end here -->
          <div class="tab-content text-center">
            <div id="tab1">
              <!-- tabs slider start here -->
              <div class="tabs-slider" id="tabs-slider1" >
                <!-- slide start here -->


              </div>
              <!-- tabs slider end here -->
            </div>
            <div id="tab2">
              <!-- tabs slider start here -->
              <div class="tabs-slider" id="tabs-slider2"  >
                <!-- slide start here -->


              </div>
              <!-- tabs slider end here -->
            </div>
            <div id="tab3">
              <!-- tabs slider start here -->
              <div class="tabs-slider" id="tabs-slider3" >
                <!-- slide start here -->


              </div>
              <!-- tabs slider end here -->
            </div>
          </div>
        </div>
        <!-- mt producttabs end here -->
      </div>
    </div>
  </div>
</main>

<script>
   getProductsHome('#tabs-slider1');
 getProductsHome('#tabs-slider2');
 getProductsHome('#tabs-slider3');
function getProductsHome(idtab) {
  var linkGetProducts = 'http://localhost:9999/products/home';
  var tabsSlider = document.querySelector(idtab);

  fetch(linkGetProducts)
    .then(response => response.json())
    .then(products => {
      var slideCount = 0; // Số lượng slide đã tạo
      var chan=0;
      var imagePromises = []; // Mảng chứa các promise của việc tải ảnh

      products.forEach((product, index) => {
        const imagePromise = fetch('http://localhost:9999/images/' + product.id)
          .then(response => response.json())
          .then(images => {
            if (images.length > 0) {
              const image = images[0].image.replaceAll(" ", "%20");
              const productHtml = `
                <div class="mt-product1 mt-paddingbottom20">
                  <div id="alert-parent${product.id}" class="alert-parent t${index}  mt-product1 mt-paddingbottom20">
                    <div class="box">
                      <div class="b1">
                        <div class="b2">
                          <a href="/products/detail?id=${product.id}"><img src='/images/product/${image}'  width="215px" height="215px" style="max-width: 215px;" alt="image description"></a>
                          <ul class="mt-stars">
                            <li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li><li><i class="fa fa-star"></i></li>
                          </ul>
                          <ul class="links">
                            <li><a id="addToCartBtn" href="#" onclick="handleAddToCart(event,${product.id},'${product.name}',${product.price},'${image}')"><i class="icon-handbag"></i><span>Add to Cart</span></a></li>
                            <li><a href="#"><i class="icomoon icon-heart-empty"></i></a></li>
                            <li><a href="#"><i class="icomoon icon-exchange"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="txt">
                      <strong class="title"><a href="#">${product.name}</a></strong>
                      <span class="price">
                        <span>${formatCurrency(product.price)}</span>
                       </span>
                    </div>
                  </div>
                </div>
              `;

              imagePromises.push(
                imagePromise.then(() => {
                  if (chan%2 == 0) {
                    const slideDiv = document.createElement("div");
                    slideDiv.classList.add("slide");
                    slideDiv.id = `slide${idtab}${slideCount}`;
                    slideDiv.innerHTML = productHtml;
                    tabsSlider.appendChild(slideDiv);
                    slideCount++;

                  } else {
                    const slideDiv = document.getElementById(`slide${idtab}${slideCount - 1}`);
                    slideDiv.innerHTML += productHtml;
                  }
                  chan++;
                })
              );
            }
          });

      });

      return Promise.all(imagePromises);
    })
    .then(() => {
      // All images have been loaded and HTML is rendered correctly
    })
    .catch(error => {
      // Handle any errors that occurred during the fetch requests or rendering
      console.error(error);
    });
}




</script>

<link rel="stylesheet" th:href=@{/css/main.css}>
<!-- include the site stylesheet -->
<link rel="stylesheet" th:href=@{/css/responsive.css}>
</body>

</html>