<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="mt-dropmenu text-left">
  <!-- mt frame start here -->
  <div class="mt-frame">
    <!-- mt f box start here -->
    <div class="mt-f-box">
      <!-- mt col3 start here -->
      <div class="mt-col-3">
        <div class="sub-dropcont">
          <strong class="title"><a href="#" class="mt-subopener">PRODUCTS</a></strong>
          <div class="sub-drop">
          <ul>
            <li><a th:href="@{/products/list}">View all products</a></li>
          </ul>
          </div>
        </div>
      </div>
      <!-- mt col3 end here -->

      <!-- mt col3 start here -->

      <!-- mt col3 end here -->

      <!-- mt col3 start here -->
      <div class="mt-col-3">
        <div class="sub-dropcont">
          <strong class="title"><a href="#" class="mt-subopener">FURNITURE</a></strong>
          <div class="sub-drop">
            <ul class="categories-ul">
            </ul>
          </div>
        </div>
      </div>
      <!-- mt col3 end here -->

      <!-- mt col3 start here -->
      <div class="mt-col-3 promo">
        <div class="mt-promobox">
          <a href="#"><img th:src="@{/images/bg/banner-drop.jpg}" alt="promo banner" class="img-responsive"></a>
        </div>
      </div>
      <!-- mt col3 end here -->
    </div>
    <!-- mt f box end here -->
  </div>
  <!-- mt frame end here -->

</div>

</html>