<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="mt-side-menu">
  <!-- mt holder start here -->
  <div class="mt-holder">
    <a href="#" class="side-close"><span></span><span></span></a>
    <strong class="mt-side-title">WELCOME</strong>
    <!-- mt side widget start here -->
    <div class="mt-side-widget">
      <header id="mt-side-user-header">
        <span id="mt-side-user-name" class="mt-side-subtitle">4912_NGUYỄN XUÂN TOẢN</span>
        <p id="mt-side-user-email">xuantoannguyen2212@gmail.com</p>
      </header>
      <form action="#" class="logout-form">
        <fieldset>
          <button type="submit" onclick="button_logout(event)" class="btn-type1">Logout</button>
        </fieldset>
      </form>
    </div>
    <!-- mt side widget end here -->
  </div>
  <!-- mt holder end here -->
</div><!-- mt side menu end here -->
</html>