<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="mt-side-menu">
  <!-- mt holder start here -->
  <div class="mt-holder">
    <a href="#" class="side-close"><span></span><span></span></a>
    <strong class="mt-side-title">MY ACCOUNT</strong>
    <!-- mt side widget start here -->
    <div class="mt-side-widget">
      <header>
        <span class="mt-side-subtitle">SIGN IN</span>
        <p>Welcome back! Sign in to Your Account</p>
      </header>
      <form action="http://localhost:9999/login" method="post" class="login-form">
        <fieldset>
          <input type="text" name="username" placeholder="Username" class="input">
          <input type="password" name="password" placeholder="Password" class="input">
          <div class="box">
            <span class="left"><input class="checkbox" type="checkbox" id="check1"><label for="check1">Remember Me</label></span>
            <a href="#" class="help"  onclick="loadForgotPassword()">Forgot Password?</a>
          </div>
          <button type="submit" onclick="button_login(event)" class="btn-type1">Login</button>
          <button type="button" onclick="loginWithGoogle()" class="btn-type1">Login with Google</button>
        </fieldset>
      </form>
    </div>
    <!-- mt side widget end here -->
    <div class="or-divider"><span class="txt">or</span></div>
    <!-- mt side widget start here -->
    <div class="mt-side-widget">
      <header>
        <span class="mt-side-subtitle">CREATE NEW ACCOUNT</span>
        <p>Create your very own account</p>
      </header>
      <form action="#" class="register-form">
        <fieldset>
          <input type="text" name="username" placeholder="Username" class="input">
          <input type="text" name="name" placeholder="Your name" class="input">
          <input type="text" name="email" placeholder="Email" class="input">
          <input type="password" name="password" placeholder="Password" class="input">
          <input type="password" name="confirm_password" placeholder="Confirm Password" class="input">
          <button type="submit" onclick="register(event)" class="btn-type1">Register</button>
        </fieldset>
      </form>
    </div>
    <!-- mt side widget end here -->
  </div>
  <!-- mt holder end here -->
</div><!-- mt side menu end here -->

</html>
